extends layout.pug

block navigation

  include navigation
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/search") Search
        li.nav-item.active
          a.nav-link(href="/champ") Champions

block content
  
  //- Champion Cards Version 4
  .container-fluid.p-3.champs(data-simplebar, style="width: 85%")
    .row
      each champ in result.data
        .col-md-3
          .card.mb-3
            .row.no-gutters(id= champ.id, onclick="location.href='/champ/" + champ.id + "';", style="cursor: pointer;")
              .col.md-4
                img.card-img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/" + champ.id + "_0.jpg", alt="...")
              .col.md-8
                .card-body
                  h4.card-title= champ.name + ', ' + champ.title
                  each value, index in champ.info
                    p.card-text.cap.mb-0= index + ': ' + value
                  p.card-text= champ.tags.join('; ')
