doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Sans")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/loading.css")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    script(src="/js/jquery-3.4.1.min.js")
    script(src="/js/main.js")

    title Treeline

  body
    main.wrapper

      //- Navigation
      include navigation.pug

      //- Headline
      .container-fluid
        .row.p-3
          .col
            h1.text-center.return Treeline
            h2.text-center.return Don't get lost!

      //- Content
      block content