extends layout

block content

  //- summoner search result introduction
  div(class="container p-3")
    .row
      .col
        img#profileIcon(src="http://ddragon.leagueoflegends.com/cdn/9.22.1/img/profileicon/" + result.summonerResponse.profileIconId + ".png", alt="Profile icon")
      each league in result.leagueResponse
        +rankedInfos(league)
    .row.justify-content-center
      h2.p-3= result.summonerResponse.name + ' - Level ' + result.summonerResponse.summonerLevel
    include filter.pug
    include loading
        
  include matchlist

mixin rankedInfos(league)
  .col
    .row
      p= league.queueType.replace(/_/g, ' ').toLowerCase().replace(/(\b(?!(\b[a-z]{3}\B))[a-z]{2,3})|(\b[a-z]\B)/g, (v) => v.toUpperCase())
    .row
      p= league.tier.toLowerCase().replace(/\b[a-z]\B/, (v) => v.toUpperCase()) + ' ' + league.rank

